
.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.search-input.active .autocom-box{
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}
.search-input .icon{
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}
.error-input {
    font-size: 16px;
    color: red;
}