<html lang="en">
<head>
    <title>Screening</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{image/cinema-logo.svg}"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{css/cinema.css}" rel="stylesheet">

</head>
<body>
<div th:replace="/parts/header"></div>
<div class="margin-header w-100 h-100">
    <form th:action="@{user/buy-ticket}" th:object="${seatReserved}" method="post">
        <input th:name="screeningId" th:value="${screening.id}" hidden>
        <div th:each="item : ${seats}">
            <h4 th:text="${item.key}"></h4>
            <select name="seatId" multiple>
                <option th:each="seat : ${item.value}" th:text="${seat.seatNumber}" th:value="${seat.id}">
                </option>
            </select>
        </div>
        <button type="submit" th:test="#{button.buyTicket}"></button>
    </form>
</div>
</body>